.btn {
    height: 50px;
    background-image: linear-gradient(dodgerblue, royalblue);
    color: white;
    border-radius: 15px;
}

.btn:hover {
    background-image: linear-gradient(royalblue, dodgerblue);
}

body {
    background-color: antiquewhite;
    background-image: linear-gradient(white, antiquewhite);
    background-repeat: no-repeat;
}

/*head {
    background-color: white;
    background-repeat: no-repeat;
}*/

nav a {
    text-decoration: none;
}

nav {
    /*background-color: white;*/
    /*background-color: antiquewhite;*/
    background-image: linear-gradient(to bottom right, white, antiquewhite);
    text-align: center;
}

a:hover {
    color: red;
}

.navLink {
    color: red;
}

.sticky {
    position: sticky;
    top: 0;
}

body {
    text-align: center;
}